/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Reset css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reset css end */

/* Common Styles Start */
.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}

section {
    margin-top: 110px;
}

.primary-color {
    color: #F00;
}

/* Common Styles End */

/* Header Section Styles Start */
#header-section .header-text {
    text-align: center;
}

#header-section .container {
    background-image: url("../images/Banner\ Image.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

#header-section .header-text h3 {
    font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 32px;
}

#header-section .header-text h1 {
    font-family: Merriweather, serif;
    color: rgb(255, 255, 255);
    font-size: 78px;
    text-align: center;
    line-height: 96px;

}

#header-section .header-text {
    padding: 150px 0;
}

/* Header Section Styles End */

/* Discount Section Styles Start */
.discount-section {
    font-family: 'Inter', sans-serif;
}

.discount-section .container {
    text-align: center;
}

.discount-section .container h1 {
    color: #F00;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 40px;
}

.discount-section .container h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discount-section .container h2 {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.new-year-img {
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.new-year-img img {
    width: 100%;
    height: 100%;
}

/* Discount Section Styles End */

/* Party Section Styles Start */
.party-section .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Merriweather, serif;
    background-image: url("../images/Vectorrr.png");
    background-position: center center;
    background-size: cover;
    padding: 40px 30px 30px 0;
    border-radius: 13px;
}

.party-left-text {
    width: 55%;
    padding-left: 35px;
}

.party-left-text h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
}

.party-left-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    margin-bottom: 24px;
}

.party-left-text h4 a {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.party-right-image {
    width: 300px;
}

.party-right-image img {
    width: 100%;
}

/* Party Section Styles End */

/* Timing Section Styles Start */
.timing-section .container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    font-family: 'Inter', sans-serif;
    padding: 100px 0;
    border-radius: 12px;
}

.timing-section .container h3 {
    text-align: center;
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
}

.btn-field {
    text-align: center;
    margin-top: 40px;
}

.btn-field button {
    padding: 14px 32px;
    background-color: #F00;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

/* Timing Section Styles End */

/* Best-Offer Section Styles Start */
.best-offer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.offer-left-content h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer-left-content h2 {
    color: #070211;
    font-family: Merriweather, serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 22px;
}

.offer-left-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 32px;
}

.offer-middle-content .offer-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 15px solid #F00;
}

.offer-middle-content .offer-image img {
    width: 330px;
    height: auto;
    margin: 21px 0 0 20px;
}

.offer-right-content h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.offer-right-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
}

.offer-right-content img {
    width: 140px;
    height: 140px;
}

/* Best-Offer Section Styles End */

/* Holidays-Sale Section Styles Start */
.holidays-sale .container {
    text-align: center;
}

.sale-text-content h4 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.sale-text-content h1 {
    color: #070211;
    font-family: Merriweather, serif;
    font-size: 70px;
    font-weight: 900;
    margin: 10px 0 26px 0;
}

.sale-text-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 0 103px 60px;
}

.sale-image-content {
    display: flex;
    justify-content: space-around;
    background-image: url("../images/Rectangle 1.png"), url("../images/Rectangle 2.png");
    background-position: right top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 33%, 100%;
    height: 525px;
}

.sale-image-content .sale-image1 {
    width: 50%;
}

.sale-image-content .sale-image1 img {
    width: 100%;
    transform: translate(13px, 81px);
}

.sale-image-content .sale-image2 {
    width: 40%;
}

.sale-image-content .sale-image2 img {
    width: 240px;
    transform: translate(-119px, 74px);
}

/* Holidays-Sale Section Styles End */

/* Portfolio Section Styles Start */
.portfolio-text {
    padding-right: 216px;
}

.portfolio-text h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather, serif;
    font-size: 42px;
    font-weight: 900;
    margin: 16px 0 22px 0;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 25px;
}

.portfolio-image-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.portfolio-image-field .portfolio-image {
    margin-bottom: 20px;
    width: 32%;
    height: 378px;
    cursor: pointer;
}

.portfolio-image-field .portfolio-image img {
    width: 100%;
    height: 100%;
}

/* Portfolio Section Styles End */

/* Newsletter Section Styles Start */
.newsletter-section .container {
    text-align: center;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px 127px;
}

.newsletter-section .container h2 {
    color: #070211;
    font-family: Merriweather, serif;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 0 16px 0;
}

.newsletter-section .container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
}

.email-field {
    width: 500px;
    height: 51px;
    margin: 0 auto;
    position: relative;
}

.email-field input {
    width: 100%;
    height: 100%;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
    border: none;
    box-shadow: 2px 6px 28px rgba(0, 0, 0, .1);
    border-radius: 35px;
    background: #FFF;
}
.email-field button {
    width: 144px;
    height: 51px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 35px 35px 0;
    color: #fff;
    background-color: #F00;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Newsletter Section Styles End */